.chat-Component {
    background-color: rgb(204, 204, 204);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-Heading {
    margin: 0px;
    text-align: center;
    flex: 1;
}

.chat-Messages {
    flex-grow: 50;
    background-color: whitesmoke;
}
/* .input-Section {
    width: 100vw;
} */
#chatForm {
    flex: 2;
    width: 100%;
    display: flex;
}
#imageBtn {
    width: 3%;
    flex: 1;
}
#messageInput {
    flex-grow: 50;

}
#sendBtn {
    flex: 2;
}
