<div class="chat-Component">
    <div>
        <h1 class="chat-Heading">{{selectedRoom}}</h1>
    </div>
    <div class="chat-Messages">
        
    </div>
    <!-- <div class="input-Section"> -->
        <form id="chatForm">
                <button id="imageBtn" (onclick)="uploadImage()">...</button>

                <input id="messageInput" type="text">
          
                <button id="sendBtn" (onclick)="sendMessage()">Send</button>
         
        </form>
    <!-- </div> -->
</div>

