<!--  Login Modal  -->
<button class="loginBtn" data-toggle="loginModal" data-target="#loginModal">Login</button>
<!-- Modal -->
<div id="loginModal" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

                <form class="modal-body">
                    <input type="text" [(ngModel)]="username" name="username" id="login" class="fadeIn second" placeholder="login">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="fadeIn third" placeholder="password">
                </form>

            <div class="modal-footer">
                <button class="loginBtn" (click)="login()">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="loginModal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--  Channel Selection  -->
<form>
    <p>Available Channels</p>
    <select ng-model="selectedChannel" ng-options="channel for channel in channels"></select>
    <select>
        <option ngfor="let channel of channels" value="channel"></option>
    </select>
</form>


<!--  Channel Management Modal  -->
<button class="channelBtn" data-toggle="modal" data-target="#channelModal">Channel Management</button>
<!-- Modal -->
<div id="channelModal" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

                <form class="modal-body">
                    <input type="text" [(ngModel)]="username" name="username" id="login" class="fadeIn second" placeholder="login">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="fadeIn third" placeholder="password">
                </form>

            <div class="modal-footer">
                <button class="loginBtn" (click)="login()">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Group Management Modal  -->
<button class="groupBtn" data-toggle="modal" data-target="#groupModal">Group Management</button>
<!-- Modal -->
<div id="groupModal" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

                <form class="modal-body">
                    <input type="text" [(ngModel)]="username" name="username" id="login" class="fadeIn second" placeholder="login">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="fadeIn third" placeholder="password">
                </form>

            <div class="modal-footer">
                <button class="loginBtn" (click)="login()">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- User Management Modal  -->
<button class="userBtn" data-toggle="modal" data-target="#userModal">User Management</button>
<!-- Modal -->
<div id="userModal" class="modal fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

                <form class="modal-body">
                    <input type="text" [(ngModel)]="username" name="username" id="login" class="fadeIn second" placeholder="login">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="fadeIn third" placeholder="password">
                </form>

            <div class="modal-footer">
                <button class="loginBtn" (click)="login()">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>